* {
    margin: 0;
    padding: 0;
}

input {
    /* input css reset */
    border: none;
    outline: none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button {
    /* button css reset */
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

body {
    height: 100vh;
    display: flex;
    font-family: "Poppins", sans-serif;
    background: url("herobanner.png");
    background-size: cover;
    background-position: center center;
}

header {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 60%;
    padding: 10px
}

.sli {
    width: 25%;
    padding: 10px;
}

.container {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

h1 {
    font-size: clamp(3rem, 5vw, 1000rem);
    font-weight: 500;
}

form {
    width: 70%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: clamp(1.2rem, 2vw, 1000rem);
}

label {
    opacity: .9;
}

.mail, .password {
    width: 100%;
}

.input-zone {
    width: 100%;
    display: flex;
    align-items: center;
}

#mail, #password {
    margin: 10px;
    padding: 5px 0;
    border-bottom: 3px solid rgba(241, 241, 241, .7);
    width: stretch;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 100px;
    font-size: clamp(1.2rem, 2vw, 1000rem);
    color: #f1f1f1;
}

#mail:focus, #password:focus {
    border-bottom: 3px solid rgba(241, 241, 241, 1);
}


.mail__desc {
    font-size: clamp(1rem, 1.5vw, 1000rem);
    opacity: .65;
}

.forgot {
    color: #D1C6A1;
    font-size: clamp(1rem, 1.5vw, 1000rem);
    cursor: pointer;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
}

#login {
    height: 50px;
    width: 15vw;
    border: #D1C6A1 solid 3px;
    text-align: center; 
    font-size: 1.8rem;
    font-weight: 500;
    color: #D1C6A1;
    cursor: pointer;
}

.no-account {
    color: #D1C6A1;
    font-size: clamp(1rem, 1.5vw, 1000rem);
    cursor: pointer;
}

.p {
    color: #BD504A;
}